.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img {
    height: 80%;
    width: 80%;
    margin: 3rem 0;
}

.info {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.infoContainer {
    overflow-x: auto;
    padding: 1rem;
    width: 80%;
}

.info > label {
    font-weight: bold;
    font-style: italic;
    margin-right: 0.3rem;
}

.btn {
    margin: 1rem;
    width: 7rem;
}

@media (min-width: 40rem) {
    .img {
        height: 25rem;
        width: 25rem;
    }

    .info > label {
        font-size: larger;
    }
}
