.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background: silver;
}

.title {
    font-size: large;
    font-weight: bold;
    font-style: italic;
    margin: 1rem;
}

.button {
    text-align: center;
    background-color: teal;
    cursor: pointer;
    color: white;
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
    margin: 1rem 1.5rem;
}

.button:hover,
.button:active {
    filter: brightness(150%);
    color: whitesmoke;
}

.button:focus {
    outline: none;
}

.h {
    height: 4rem;
}
